# git origin
/.git/
/.vscode/
/.gitignore/
# object file ignore
/config/
/node_modules/
/docs/
/public/
/scripts/
/src/
/dist/

# on test functions not want to republic
/lib/Immutable.js

# config file
.gitignore
.npmignore
.babelrc
tslint.json
tsconfig.json
yarn.lock
*.log


# home test
test.js

# html
index.html

# development
/dev
/task
/webpack.config.js